<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <!--<container name="defaultContainer">
        <register type="My_Ioc.IRegionFormat,My_Ioc" mapTo="My_Ioc.DefaultRegionFormat,My_Ioc"></register>
      </container>-->
      <container>
        <register type="My_Ioc.IRegionFormat,My_Ioc" mapTo="My_Ioc.DefaultRegionFormat,My_Ioc"></register>
      </container>
    </containers>
  </unity>
</configuration>